<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.streams.studio.launchers.launchConfigurationType3">
<stringAttribute key="adl" value="/home/streamsadmin/workspace/001_hello_world_in_spl/output/HelloWorld/Standalone/bin/standalone"/>
<stringAttribute key="buildConfig" value="Standalone"/>
<stringAttribute key="compositeName" value="HelloWorld"/>
<stringAttribute key="instance" value=""/>
<booleanAttribute key="isStandalone" value="true"/>
<stringAttribute key="loggingLevel" value="DEFAULT"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/001_hello_world_in_spl"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="parameterList"/>
<stringAttribute key="projectName" value="001_hello_world_in_spl"/>
<booleanAttribute key="prompt" value="true"/>
<stringAttribute key="sampleName" value=""/>
<stringAttribute key="samplePath" value=""/>
<stringAttribute key="tracingLevel" value="DEFAULT"/>
</launchConfiguration>